<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/splide.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>PANTAU | About Us</title>
</head>
<body>
  <nav>
    <a href="/" class="logo">
      <img src="images/logo.png" alt="">
    </a>
    <ul class="menus">
      <li><a href="/">Home</a></li>
      <li><a href="our-product.html">Our Product</a></li>
      <li><a href="about-us.html">About Us</a></li>
      <li><a href="login.html" class="login">Login</a></li>
    </ul>
    <a href="#" class="hamburger">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
    </a>
  </nav>
  <div class="content about-content">
    <div class="advisor">
      <h1>Advisor</h1>
      <div class="person">
        <div class="person-image">
          <img src="images/person/gunawan.jpg" alt="" >
        </div>
        <div class="person-text">
          <p class="bold">Ir. Gunawan Wibisono, M.Sc., Ph.D.</p>
          <p>Lecturer at Faculty of Engineering Universitas Indonesia</p>
        </div>
      </div>
    </div>
    <h1>Contributor</h1>
    <div class="about-grid">
      <div class="flex-center">
        <div class="person">
          <div class="person-image">
            <img src="images/person/auliarieza.jpg" alt="" style="top: -20px">
          </div>
          <div class="person-text">
            <p class="bold">Muhammad Auliarieza Syauqy</p>
            <p>Teknik Elektro - Telekomunikasi</p>
            <p>1806195141</p>
          </div>
        </div>
      </div>
      <div class="flex-center">
        <div class="person">
          <div class="person-image">
            <img src="images/person/dheannies.jpg" alt="" style="top: -10px">
          </div>
          <div class="person-text">
            <p class="bold">Rhaja Dheannies Firdaus</p>
            <p>Teknik Elektro - Telekomunikasi</p>
            <p>1806194920</p>
          </div>
        </div>
      </div>
      <div class="flex-center">
        <div class="person">
          <div class="person-image">
            <img src="images/person/ones.JPG" alt="">
          </div>
          <div class="person-text">
            <p class="bold">Ones Sanjerico Sitanggang</p>
            <p>Teknik Elektro - Telekomunikasi</p>
            <p>1806147994</p>
          </div>
        </div>
      </div>
      <div class="flex-center">
        <div class="person">
          <div class="person-image">
            <img src="images/person/richard.jpg" alt="" style="top: 5px; left: 5px">
          </div>
          <div class="person-text">
            <p class="bold">Richard Addyanto</p>
            <p>Teknik Elektro - Telekomunikasi</p>
            <p>1806195210</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/main.js"></script>
</body>
</html>