<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/splide.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>PANTAU | Login</title>
</head>
<body>
  <nav>
    <a href="/" class="logo">
      <img src="images/logo.png" alt="">
    </a>
    <ul class="menus">
      <li><a href="/">Home</a></li>
      <li><a href="our-product.html">Our Product</a></li>
      <li><a href="about-us.html">About Us</a></li>
      <li><a href="login.html" class="login">Login</a></li>
    </ul>
    <a href="#" class="hamburger">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
    </a>
  </nav>
  <div class="content">
    <div class="login-page">
      <div class="login-form">
        <h2>Login</h2>
        <form action="dashboard.html" method="POST">
          <input type="text" placeholder="Username/Email" class="login-input login-username">
          <input type="password" placeholder="Password" class="login-input login-password">
          <div class="login-buttons">
            <button type="submit" value="Login" class="login-submit">Login</button>
            <a href="https://forms.gle/QnsbbhgTLTxvH2a38" target="_blank">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="js/main.js"></script>
  <script src="js/userauth.js"></script>
</body>
</html>