<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/splide.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>PANTAU | Our Product</title>
</head>
<body>
  <nav>
    <a href="/" class="logo">
      <img src="images/logo.png" alt="">
    </a>
    <ul class="menus">
      <li><a href="/">Home</a></li>
      <li><a href="our-product.html">Our Product</a></li>
      <li><a href="about-us.html">About Us</a></li>
      <li><a href="login.html" class="login">Login</a></li>
    </ul>
    <a href="#" class="hamburger">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/></svg>
    </a>
  </nav>
  <div class="content our-product-content">
    <div class="product-title">
      <div class="title-text">
        <img src="images/logo_icon.png" class="icon-text" alt="">
        <h1 class="bold">PantauGroup</h1>
      </div>
      <div class="sub-title-text">
        <p><span class="bold">One</span> platform, <span class="bold">for all</span> healthcare and security needs</p>
      </div>
    </div>
    <div class="products">
      <div class="product-list health-products">
        <div class="product-list-title">
          <img src="images/logo_health.svg" alt="" class="icon-text">
          <h2>Healthcare</h2>
          <img src="images/logo_health.svg" alt="" class="icon-text">
        </div>
        <div class="product-list-items">
          <a href="pantau-covid.html" class="product-list-item active">
            <img src="images/logo_icon.png" alt="" class="icon-text">
            <h2><span class="bold">Pantau</span>Covid</h2>
          </a>
          <a href="#" class="product-list-item">
            <img src="images/logo_icon.png" alt="" class="icon-text">
            <h2><span class="bold">Pantau</span>Diabetes</h2>
          </a>
          <a href="#" class="product-list-item">
            <img src="images/logo_icon.png" alt="" class="icon-text">
            <h2><span class="bold">Pantau</span>Dini</h2>
          </a>
        </div>
      </div>
      <div class="product-list">
        <div class="product-list-title">
          <img src="images/logo_secure.svg" alt="" class="icon-text">
          <h2>Security</h2>
          <img src="images/logo_secure.svg" alt="" class="icon-text">
        </div>
        <div class="product-list-items">
          <a href="#" class="product-list-item">
            <img src="images/logo_icon.png" alt="" class="icon-text">
            <h2><span class="bold">Pantau</span>Anak</h2>
          </a>
          <a href="#" class="product-list-item">
            <img src="images/logo_icon.png" alt="" class="icon-text">
            <h2><span class="bold">Pantau</span>Bayi</h2>
          </a>
          <a href="#" class="product-list-item">
            <img src="images/logo_icon.png" alt="" class="icon-text">
            <h2><span class="bold">Pantau</span>Satpam</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script src="js/main.js"></script>
</body>
</html>